boto3==1.20.24
numpy==1.21.2
pandas==1.2.5
git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git
protobuf==3.19.1
scikit_learn==1.0.1
sentence_transformers==2.1.0
torch==1.10.1
transformers==4.14.1
wandb==0.12.7
